@{
}
<h1>Atividade AV1</h1>
<p>Vamos realizar uma atividade para fixação dos exemplos.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum sagittis odio in lacinia. Sed vitae augue ex. In ac magna id odio aliquam fermentum id vitae eros. Mauris blandit enim id tellus elementum, id auctor enim vulputate. Pellentesque et pretium orci. Duis vitae tellus sagittis, dapibus sapien facilisis, aliquam enim. Sed quis imperdiet arcu, porta vulputate elit. Vivamus condimentum commodo laoreet. Nullam tincidunt metus quis ante pretium eleifend. In tristique sollicitudin lobortis. Mauris ac posuere lectus. Integer in sapien risus. Phasellus felis ex, mollis in placerat id, lobortis in lectus. Sed ultrices, lectus vel ullamcorper fermentum, turpis orci tempor lorem, nec suscipit metus massa eu justo. Proin porttitor bibendum nulla, a finibus nisi vestibulum non. Cras cursus sagittis augue, sed congue justo posuere at.</p>